# 网络请求相关
aiohttp>=3.8.0
requests>=2.25.0

httpx>=0.24.0
# 异步文件操作
aiofiles>=0.8.0

# 图像处理
Pillow>=9.0.0
qrcode>=7.3.0

# 工具库
asyncio>=3.4.3
google-generativeai

# 数据库
PyYAML==6.0.1

# 安全相关
gmssl==3.2.2

# 其他
rich
browser-cookie3==0.19.1
importlib_resources==6.4.0
cachetools